.icon_small-size {
  width: 16px;
  height: 16px;
}

.icon_middle-size {
  width: 18px;
  height: 18px;
}

.icon_large-size {
  width: 24px;
  height: 24px;
}

.delete-icon_color:hover {
  filter: invert(15%) sepia(89%) saturate(6869%) hue-rotate(358deg) brightness(100%) contrast(110%);
}

.copy-icon_color:hover {
  filter: invert(65%) sepia(23%) saturate(905%) hue-rotate(22deg) brightness(93%) contrast(79%);
}

.edit-icon_color:hover {
  filter: invert(60%) sepia(8%) saturate(2703%) hue-rotate(131deg) brightness(89%) contrast(79%);
}

.icon-disabled {
  filter: invert(88%) sepia(12%) saturate(41%) hue-rotate(314deg) brightness(92%) contrast(97%);
}
