  .auth {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(239, 240, 236);
  }

  .auth__title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .form-auth__input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
  }
  .form-auth__input:focus {
    border: 1px solid rgb(84, 207, 201);
  }
  .form-auth__button {
    background: #027a7e;
    border: 0;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
  }

  .form-auth__error {
    margin-top: 20px;
  }

  input:valid {
    border-color: rgb(37, 5, 219);
  }

  .auth__link {
    top: 20px;
    cursor: pointer;
  }

  .disabled,
  .disabled:hover {
    background-color: rgb(212, 208, 208);
  }